@import url('./roots.css');

html {
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-bg);
  color: #0f172b;
  margin: 0 auto;
  overflow-x: hidden;
}
.section {
  padding: 25px 0;
}
.container {
  padding: 0 20px;
  position: relative;
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
}
.section-title {
  font-size: var(--section-title-mob);
  color: var(--color-secondary);
  text-align: start;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.primary-btn {
  border-radius: var(--radius-small);
  color: var(--color-surface);
  font-size: var(--btn-size);
  background-color: var(--color-card-dark);
}
