/* ================================================== */
@import url('../base/roots.css');
.header {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 0.7px solid var(--color-border);
}
.container {
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  font-size: var(--main-title-mob);
  font-weight: 700;
  letter-spacing: -0.9px;
}
.header__svg {
  width: 35px;
  height: 32px;
  fill: #2563eb;
  stroke: none;
}
/* ======================details============================ */
.header__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.header__back-link-desk {
  color: var(--color-surface);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-big);
  padding: var(--btn-padding);
  font-weight: 600;
  transition: all 250ms;
}
.header__back-link-desk:hover {
  background-color: #0b0830;
}
.header__back-link-desk span {
  color: var(--color-surface);
}
.header__back-link-desk svg {
  fill: var(--color-surface);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__back-link-mob {
  color: var(--color-surface);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 100%;
  font-size: var(--text-big);
  padding: var(--btn-padding);
  font-weight: 600;
  transition: all 250ms;
}
.header__back-link-mob:hover {
  background-color: #0b0830;
}
.header__back-link-desk {
  display: none;
}

.header__back-link-mob span {
  color: var(--color-surface);
}
.header__back-link-mob svg {
  fill: var(--color-surface);
}
