.popular-cities__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-cards);
}
.popular-cities__item {
  min-width: 145px;
}
.popular-cities__item-link {
  border-radius: 15px;
  padding: var(--card-padding);
  background-color: var(--color-card-dark);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: all 250ms;
}
.popular-cities__item-link:hover {
  transform: scale(1.04);
}
.popular-cities__item-title {
  color: #fff;
  font-size: var(--h3-size-desk);
  font-weight: 500;
}
.popular-cities__item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.popular-cities__item-icon {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 15px;
  font-size: var(--text-size);
  font-weight: 500;
}
.popular-cities__svg {
  stroke: #fff;
  fill: #fff;
}
.popular-cities__item-text {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
